@font-face {
  font-family: 'Aller';
  src: url('../fonts/aller_lt.woff') format('woff'),
       url('../fonts/aller_lt.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Aller';
  src: url('../fonts/aller_rg.woff') format('woff'),
       url('../fonts/aller_rg.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Aller';
  src: url('../fonts/aller_bd.woff') format('woff'),
       url('../fonts/aller_bd.ttf') format('truetype');
  font-weight: 700;
}

body {
  margin: 0;
  font: 12px Aller, sans-serif;
  color: #242424;
}

a {
  color: #57c5a0;
  text-decoration: none;
  outline: none;
}

blockquote {
  margin: 0;
}

cite {
  font-style: italic;
}

cite::before {
  content: "- ";
}

cite::after {
  content: " -";
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px
}

.header-main {
  min-width: 960px;
  background-color: #242424;
}

.header-logo {
  display: block;
  float: left;
  width: 156px;
  height: 20px;
  margin-top: 12px;
  background: url(../img/logo-header.png);
}

.header-search {
  float: right;
  width: 225px;
  margin: 10px;
  transition: background-color .6s ease-in-out;
}

.header-search:hover {
  background-color: #ffffff;
}

.header-search input[type="text"] {
  display: block;
  float: left;
  width: 190px;
  padding: 5px;
  border: 0;
  color: #7d7d7d;
  outline: none;
  background: none;
}

.header-search input[type="submit"] {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 0;
  background: url(../img/search.png) no-repeat 50% 50%;
  outline: none;
  cursor: pointer;
}

.header-login {
  float: right;
  padding: 16px 25px;
  border-left: 1px solid #383838;
  border-right: 1px solid #383838;
}

.header-login,
.header-login a {
  font-size: 11px;
  color: #7e7e7e;
}

.header-login a {
  text-transform: uppercase;
  transition: color .5s ease-in-out;
}

.header-login a:hover {
  color: #ffffff;
}

.top-nav {
  min-width: 960px;
  line-height: 20px;
  background-color: #ffffff;
}

.top-nav-menu,
.top-nav-cart {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top-nav-menu {
  float: left;
  font-size: 16px;
  letter-spacing: .025em;
  border-right: 1px solid #eeeeee;
}

.top-nav-menu li,
.top-nav-cart li {
  display: inline-block;
  border-left: 1px solid #eeeeee;
}

.top-nav-menu-link {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  color: #242424;
  transition: .5s ease-in-out;
}

.top-nav-menu-link.active,
.top-nav-menu-link:hover {
  color: #57c5a0;
}

.top-nav-cart {
  float: right;
  font-size: 12px;
  font-weight: bold;
  border-right: 1px solid #eeeeee;
}

.top-nav-cart-link {
  display: inline-block;
  padding: 19px 21px;
  color: #ffffff;
}

.top-nav-cart-stars,
.top-nav-cart-items {
  display: inline-block;
  padding: 0 6px;
  border-radius: 3px;
}

.top-nav-cart-stars {
  background-color: #adadad;
}

.top-nav-cart-items {
  background-color: #57c5a0;
}

.top-nav-cart-link::before {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  content: "";
  background: url(../img/spritesheets.png);
}

.slider {
  min-width: 960px;
  min-height: 460px;
  background: url(../img/slider-img.jpg) no-repeat 50% 50%, url(../img/slider-bg.jpg);
}

.slider-price-wrapper {
  margin: 70px 0 14px 2px;
}

.slider-content {
  float: right;
  width: 408px;
  padding: 0 23px;
}

.slider-content-title {
  margin: 0;
  width: 295px;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  text-transform: capitalize;
}

.slider-content-text {
  margin: 6px 20px 6px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}

.slider-action-menu-wrapper {
  margin-top: 14px;
}

.action-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.action-menu li {
  display: block;
  float: left;
  margin-right: 2px;
}

.action-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #ffffff;
}

.action-link::after {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 12px;
  content: "";
  background: url(../img/spritesheets.png);
}

.icon-view::before,
.icon-view::after {
  background-position: 0 0;
}

.icon-star::before,
.icon-star::after {
  background-position: -16px 0;
}

.icon-share::before,
.icon-share::after {
  background-position: -32px 0;
}

.icon-buy::before,
.icon-buy::after {
  background-position: -48px 0;
}

.icon-cart::before,
.icon-cart::after {
  background-position: -64px 0;
}

.icon-view:hover::before,
.icon-view:hover::after {
  background-position: 0 -16px;
}

.icon-star:hover::before,
.icon-star:hover::after {
  background-position: -16px -16px;
}

.icon-share:hover::before,
.icon-share:hover::after {
  background-position: -32px -16px;
}

.icon-buy:hover::before,
.icon-buy:hover::after {
  background-position: -48px -16px;
}

.icon-cart:hover::before,
.icon-cart:hover::after {
  background-position: -64px -16px;
}

.price-block {
  display: inline-block;
  padding: 26px 9px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #57c5a0;
}

.price-block.inner {
  position: absolute;
  bottom: 0;
  left: 12px;
  z-index: 3;
}

.slider-nav {
  min-width: 960px;
  padding: 6px 0 4px;
  background-color: #2e2e2e;
}

.slider-nav .container {
  display: table;
  table-layout: fixed;
  border-top: 10px solid #000000;
  list-style-type: none;
}

.slider-nav .container li {
  display: table-cell;
  position: relative;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.025em;
  text-align: center;
}

.slider-nav-link {
  display: block;
  padding: 12px 0;
  color: rgba(255, 255, 255, .5);
  transition: .7s ease-in-out;
}

.slider-nav-link.active,
.slider-nav-link:hover {
  color: #ffffff;
}

.slider-nav-link::before {
  display: block;
  position: absolute;
  top: -8px;
  left: 0;
  content: "";
  height: 6px;
  width: 100%;
  border-left: 1px solid #2e2e2e;
  border-right: 1px solid #2e2e2e;
  box-sizing: border-box;
  background-color: #000000;
  z-index: 1;
}

.slider-nav li:first-child .slider-nav-link::before {
  border-left: none;
}

.slider-nav li:last-child .slider-nav-link::before {
  border-right: none;
}

.slider-nav-link::after {
  display: block;
  position: absolute;
  top: -8px;
  left: 4px;
  content: "";
  height: 6px;
  width: 95.75%;
  background-color: #000000;
  transition: .7s ease-in-out;
  z-index: 2;
}

.slider-nav-link.active::after,
.slider-nav-link:hover::after {
  background-color: #57c5a0;
}

.slider-nav-link span {
  display: block;
  font-size: 12px;
  color: rgba(173, 173, 173, .5);
  transition: .7s ease-in-out;
}

.slider-nav-link.active span,
.slider-nav-link:hover span {
  color: #adadad;
}

.offers {
  min-width: 960px;
  background-color: #242424;
}

.offers-detail {
  display: block;
  float: left;
  margin: 25px 10px;
  width: 300px;
  height: 180px;
  line-height: 180px;
  text-align: center;
}

.offers-detail:first-child {
  margin-left: 0;
}

.offers-detail:last-child {
  margin-right: 0;
}

.offers-detail.sale {
  background: url(../img/offers-img-1.jpg);
}

.offers-detail.special {
  background: url(../img/offers-img-2.jpg);
}

.offers-detail.musthave {
  background: url(../img/offers-img-3.jpg);
}

.offers-detail span {
  display: inline-block;
  padding: 0 25px;
  vertical-align: middle;
  font-size: 25px;
  font-weight: 300;
  line-height: 60px;
  color: #ffffff;
  text-transform: uppercase;
  background: rgba(36, 36, 36, .9);
  transition: .6s ease-in-out;
}

.offers-detail span:hover {
  background: rgba(0, 0, 0, .6);
}

.main {
  min-width: 960px;
  background-color: #ebe7df;
}

.main-goods-row {
  padding: 4px 0 5px 0;
}

.main-goods-row:nth-last-child(2) {
  padding-bottom: 46px;
  border-bottom: 1px solid #bcb5a7;
}

.main-goods-top {
  padding: 12px 0 12px 0;
}

.main-goods-top-title {
  float: left;
  width: 75%;
  margin: 15px 0;
  font-size: 25px;
  font-weight: 300;
}

.main-goods-top-button {
  float: right;
  margin: 14px 0;
  padding: 6px 17px;
  border: 1px solid #bcb5a7;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .025em;
  color: #bcb5a7;
  background-color: transparent;
  outline: none;
  transition: color .6s, background-color .6s ease-in-out;
  cursor: pointer;
}

.main-goods-top-button:hover {
  background-color: #bcb5a7;
  color: #242424;
}

.main-goods-block {
  float: left;
  position: relative;
  width: 300px;
  height: 270px;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-position: 50% 19px;
  background-color: #ffffff;
}

.main-goods-block.shoes-1 {
  background-image: url(../img/shoes-img-1.jpg);
}

.main-goods-block.shoes-2 {
  background-image: url(../img/shoes-img-2.jpg);
}

.main-goods-block.shoes-3 {
  background-image: url(../img/shoes-img-3.jpg);
}

.main-goods-block.shoes-4 {
  background-image: url(../img/shoes-img-4.jpg);
}

.main-goods-block.shoes-5 {
  background-image: url(../img/shoes-img-5.jpg);
}

.main-goods-block.shoes-6 {
  background-image: url(../img/shoes-img-6.jpg);
}

.main-goods-title-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.main-goods-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 9px 0 15px;
  box-sizing: border-box;
  border-top: 1px solid #cccccc;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: .025em;
  text-indent: 92px;
  z-index: 1;
}

.main-goods-menu {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 220px;
  padding: 5px 0 4px;
  text-align: right;
  background-color: #ffffff;
  z-index: 2;
}

.main-goods-title-wrapper:hover .main-goods-menu {
  visibility: visible;
}

.main-goods-block:first-child {
  margin-left: 0;
}

.main-goods-block:last-child {
  margin-right: 0;
}

.info-block {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 12px;
  max-width: 68px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}

.info-block.sale {
  padding: 26px 7px;
  background-color: #242424;
}

.info-block.stock {
  padding: 19px 9px;
  background-color: #f27e4b;
}

.main-addon-row {
  padding: 26px 0 22px 0;
}

.main-addon-cell {
  float: left;
  width: 220px;
  margin: 0 10px;
  padding: 25px 16px 20px;
  box-sizing: border-box;
  line-height: 16px;
  background-color: #dfdbd4;
}

.main-addon-cell:first-child {
  margin-left: 0
}

.main-addon-cell:last-child {
  width: 460px;
  margin-right: 0;
}

.main-addon-cell-title {
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
}

.main-addon-cell-subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
}

.main-addon-news {
  margin: 20px 0 13px 0;
}

.main-addon-news + .main-addon-news {
  margin: 15px 0 13px 0;
}

.main-addon-date {
  float: left;
  width: 36px;
  height: 36px;
  background-color: #57c5a0;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.main-addon-news-text {
  float: left;
  margin-left: 10px;
  line-height: 16px;
}

.main-addon-news-text p {
  margin: 0;
}

.main-addon-date-month {
  font-size: 10px;
  text-transform: uppercase;
}

.main-addon-date-day {
  font-size: 13px;
}

.widgets {
  min-width: 960px;
  padding-bottom: 14px;
  border: 1px solid #1c1c1c;
  background-color: #242424;
}

.widget {
  float: left;
  width: 260px;
  margin: 47px 0 0 42px;
  line-height: 18px;
  font-style: italic;
  color: #a4a4a4;
  text-align: justify;
}

.widget-title {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  color: #7d7d7d;
  text-transform: uppercase;
}

.widget p {
  margin: 16px 0 16px 0;
}

.twit-date {
  display: block;
  margin-top: 5px;
  color: #c4c5bf;
}

.widget-flickr {
  margin: 18px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.widget-flickr li {
  display: inline-block;
  margin: 0 8px 8px 0px;
}

.widget-flickr-link {
  display: inline-block;
  width: 76px;
  height: 56px;
  transition: opacity .3s ease-in-out;
}

.widget-flickr-link:hover {
  opacity: .7;
}

.widget-flickr-link.flickr-1 {
  background: url(../img/flickr-img-1.jpg);
}

.widget-flickr-link.flickr-2 {
  background: url(../img/flickr-img-2.jpg);
}

.widget-flickr-link.flickr-3 {
  background: url(../img/flickr-img-3.jpg);
}

.widget-flickr-link.flickr-4 {
  background: url(../img/flickr-img-4.jpg);
}

.widget-flickr-link.flickr-5 {
  background: url(../img/flickr-img-5.jpg);
}

.widget-flickr-link.flickr-6 {
  background: url(../img/flickr-img-6.jpg);
}

.social {
  min-width: 960px;
  padding: 37px 0 42px 0;
  background-color: #242424;
}

.subscription {
  float: left;
  width: 250px;
  margin-left: 40px;
}

.subscription input[type="email"] {
  display: block;
  float: left;
  width: 194px;
  margin: 0;
  padding: 11px 10px;
  border: none;
  line-height: 14px;
  font-size: 12px;
  font-style: italic;
  color: #7d7d7d;
  outline: none;
  background-color: #2e2e2e;
}

.subscription input[type="submit"] {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  font-weight: bold;
  color: #2e2e2e;
  background-color: #7d7d7d;
  outline: none;
  cursor: pointer;
  transition: opacity, color .6s ease-in-out;
}

.subscription input[type="submit"]:hover {
  color: #ffffff;
  opacity: .8;
}

.social-links {
  float: right;
  margin: 0 40px 0 0;
  padding: 0;
  list-style-type: none;
}

.social-links li {
  display: inline-block;
  margin-right: 5px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #2e2e2e;
  background-image: url(../img/iconsheets.png);
  transition: opacity .3s ease-in-out;
}

.social-link:hover {
  opacity: .7;
}

.icon-facebook {
  background-position: 0 0;
}

.icon-twitter {
  background-position: -36px 0;
}

.icon-googleplus {
  background-position: -72px 0;
}

.icon-linkedin {
  background-position: -108px 0;
}

.icon-flickr {
  background-position: -144px 0;
}

.footer-main {
  min-width: 960px;
  padding: 20px 0 26px 0;
  background-color: #2e2e2e;
}

.footer-copyright {
  float: left;
  letter-spacing: .025em;
  color: rgba(255, 255, 255, .5);
}

.footer-copyright p {
  margin: 5px 0 5px 0;
}

.footer-nav {
  float: right;
  margin-top: 16px;
  padding: 0;
  list-style-type: none;
  letter-spacing: .025em;
  color: rgba(255, 255, 255, .5);
}

.footer-nav li {
  display: inline-block;
}

.footer-nav-link {
  color: rgba(255, 255, 255, .5);
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-nav li ~ li::before {
  content: "/\20";
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}